aiohttp==3.8.5
aiohttp-cors==0.7.0
pyyaml==6.0.1
cryptography==41.0.4
aiohttp-jwt==0.6.1
aiohttp-session==2.12.0
aiohttp-middlewares==2.2.0
dataclasses-json==0.6.1
tqdm==4.66.1
pydantic==2.4.2
pyhumps==3.8.0
progressbar~=2.5
requests==2.31.0
urllib3==2.0.5
pytest==7.4.2
pytest-mock==3.11.1
molgenis-py-client~=2.4.1
pytest_asyncio==0.21.1
dataconf==2.2.2
pyjwt==2.8.0
strenum==0.4.15